@use 'variables' as v;

form {
  background-image: url('../assets/bg-shorten-mobile.svg');
  background-color: v.$Dark-Violet;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: v.$spacer * 1.5;
  border-radius: 8px;
  display: flex;
  gap: v.$spacer;
  flex-direction: column;
  @media (min-width: 650px) {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 700px;
    margin-inline: auto;
  }

  input,
  button {
    padding: v.$spacer * 0.75 v.$spacer * 1.2;
    border-radius: 5px;
  }
}
