@use './variables' as v;

.shortened {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(v.$Gray, 0.3);
    padding-block: v.$spacer * 0.5;
  }
}
