@use '../variables' as v;

.sign-up-form {
  display: flex !important;
  width: min(90%, 400px);
  background-image: none;
  position: absolute;
  inset: 50% 0 0 0 !important;
  transform: translateY(-50%) !important;
  margin-inline: auto;
  height: max-content;

  label {
    color: #fff;
  }
  input {
    padding: 0.7em 1.1em;
    width: 100%;
  }
  a {
    text-decoration: none;
    text-align: center;
    color: v.$Grayish-Violet;
  }
}
