@use '../variables' as v;

header {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  grid-template-areas: 'logo harmburger' 'nav nav';
  grid-area: header;
  align-items: center;
  gap: v.$spacer;
  margin-bottom: v.$spacer;
  @media (min-width: 580px) {
    grid-template: 1fr / auto 1fr;
    grid-template-areas: 'logo nav';
    align-items: center;
  }
  @media (min-width: 650px) {
    gap: v.$spacer * 2;
  }

  img {
    object-fit: contain;
    grid-area: logo;
    width: 100px;

    &:last-child {
      width: 20px;
      grid-area: harmburger;
      justify-self: end;
      @media (min-width: 580px) {
        display: none;
      }
    }
  }
}
