@use '../variables' as v;

.shortened-url {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(v.$Gray, 0.2);
  padding: v.$spacer;

  &:last-child {
    margin-bottom: v.$spacer * 3;
  }

  a {
    text-decoration: none;
    color: v.$Cyan;
  }
}
