@use '../variables' as v;

.statistic {
  background-color: #fff;
  padding: v.$spacer * 1.5;
  position: relative;
  border-radius: 5px;
  z-index: 1;
  @media (min-width: 924px) {
    text-align: start;
    max-width: 322px;

    &:nth-child(2) {
      transform: translateY(v.$spacer * 2);
      margin-inline: auto;
    }
    &:nth-child(3) {
      transform: translateY(v.$spacer * 4);
      margin-left: auto;
    }
  }

  picture {
    aspect-ratio: 1 / 1;
    width: 55px;
    padding: v.$spacer;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: v.$Dark-Violet;
    position: absolute;
    inset: 0 50% auto auto;
    transform: translate(50%, -50%);

    @media (min-width: 650px) {
      inset: 0 auto auto v.$spacer;
      transform: translate(0, -50%);
    }
  }
  p,
  h3 {
    margin-top: v.$spacer;
  }
}
